*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* .left-containter{
    padding-left: 5%;
} */
.equal-padding{
    padding: 0.5rem;
}
.flex{
    display: flex;
}

.gap-mini{
    gap: 0.2rem;
}
.gap-small{
    gap: 0.6rem;
}

.gap-medium{
    gap: 0.8rem;
}
.gap-large{
    gap: 1.2rem;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}

/* **********Top Nav**************** */

header nav > .top_nav{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 0.5rem 0;
}
header nav > .top_nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .top_nav .left_location > .loc_title > h1{
    font-size: 1.6rem;
    color: #404040;
    font-weight: bold;
}   
header nav .top_nav .left_location > .loc_origin span:first-child{
    color: red;
    font-size: 0.8rem;
}

header nav .top_nav .left_location > .loc_origin > small{
    color: red;
    font-size: 0.65rem;
    font-weight: bold;
    line-height: 9px;
    padding-top: 1px;
}
header nav .top_nav .right_item{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
header nav .top_nav .right_item .search_icon > img{
    display: flex;
    width: 1.28rem;
}
header nav .top_nav .right_item .use_btn > button{
    padding: 0.4rem;
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0.3rem;
}
/* **********bottom Nav**************** */


header nav .bottom_nav > .nav_highlight {
    display: flex;
    overflow-x: auto;
    padding: 0.5rem 0;
}
header nav .bottom_nav > .nav_highlight > img{
    width: 3.8rem;
}


/* **********Main banner section**************** */

main section.banner{
    width: 100vw;
}
main section.banner .banner_content{
    display: flex;
    overflow-x: auto;
}


main section.banner .banner_content > img{
    width: 100%;
}

/* **********Main ads section**************** */
main section.ads{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
main section.ads > img{
    width: 100%;
}

/* **********Movies Card section**************** */


main section.movies_card{
    width: 100vw;
}

main section.movies_card .card_head > h2{
    font-size: 1.3rem;
    font-weight: 600;
}
main section.movies_card .card_head .card_more__icon > span{
    font-size: 0.77rem;
    color: red;
}
main section.movies_card .card_head .card_more__icon > small{
    font-size: 0.6rem;
    color: red;
    font-weight: bold;
}

main section.movies_card .card_content{
    width: 100%;
    padding-top: 1rem;
    overflow-x: auto;
}
main section.movies_card .card_content > .card_item{
    min-width: 33.3%;
    padding-top: 0.2rem;
}

main section.movies_card .card_content .card_item .card_img > img{
        width: 100%;
        object-fit: contain;
        border-radius: 0.3rem;
}

main section.movies_card .card_content .card_item .card_desc {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #f2f5fa;
    padding: 0.3rem;
    border-radius: 0.3rem;
}
main section.movies_card .card_content .card_item .card_desc > div {
    font-size: 0.75rem;
    font-weight: 600;
}
main section.movies_card .card_content .card_item .card_desc > div:first-child > span {
    color: orange;
}
main section.movies_card .card_content .card_item .card_title > p {
    font-size: 0.85rem;
    padding-top: 0.3rem;
}

/* **********Event-Weekly section**************** */


main section.week_event .event_head >h2{
    font-size: 1.3rem;
    font-weight: 600;
}

main section.week_event .event_head > p{
    color: rgb(102, 102,102);
    font-weight: 600;
    font-size: 0.9rem;
}
main section.week_event .event_content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.6rem;
}
main section.week_event .event_content > .event_item{
    width: 33.3%;
}
main section.week_event .event_content .event_item > img{
    width: 100%;
}

 /* ******Event Category Section********   */

 main section.category_event{
    margin-top: 2.1rem;
 }
 main section.category_event .cat_event__head > h2{
    font-size: 1.3rem;
    font-weight: 600;
 }
 main section.category_event .cat_event__head > p{
    color: rgb(102, 102,102);
    font-weight: 600;
    font-size: 0.9rem;
}
main section.category_event .cat_event__content{
    display: flex;
    gap: 1rem;
    margin-top: 1.6rem;
    overflow-x: auto;
}

main section.category_event .cat_event__content .cat_item__wrap{
    min-width: 40%;
}
main section.category_event .cat_event__content .cat_item__wrap img{
    width: 100%;
}


/*  ******Online Movies Section******** */

main section.online_movies{
    margin-top: 2rem;
    background-color: rgb(43, 49, 72);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
main section.online_movies .online_content{
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    gap: 1rem;
    margin-top: 1.6rem;
}
main section.online_movies .online_content .online_wrap__card{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
}
main section.online_movies .online_content .online_top{
    height: 250px;
    gap: 1rem;
    display: flex;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}
main section.online_movies .online_content .online_top .online_movie__img{
    min-width: 50%;
}
main section.online_movies .online_content .online_top .online_movie__img > img{
    width: 100%;
    border-radius: 0.8rem;
}
main section.online_movies .online_content .online_top .right_movie__desc{
    height: fit-content;
}
main section.online_movies .online_content .online_top .right_movie__desc .movie_title > h3{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
main section.online_movies .online_content .online_top .right_movie__desc p{
    font-size: 0.9rem;
    padding-top: 0.4rem;
}
main section.online_movies .online_content .online_top .right_movie__desc .movie_desc{
    padding-top: 0.4rem;
}
main section.online_movies .online_content .online_bottom > button{
  width: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1rem;
  background-color: rgb(248, 68,100);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}

/*  ******Footer Section******** */

footer .footer_icon{
    width: 100%;
    position: fixed;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #fff;
    z-index: 100;
    bottom: 0px;
}
footer .footer_icon .footer_icon__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer .footer_icon .footer_icon__content .footer_icon__wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .footer_icon .footer_icon__content .icon > img{
    width: 1.5rem;
}
footer .footer_icon .footer_icon__content .title{
    font-size: 0.8rem;
    margin-top: -0.3rem;
    color: #717171;
}
footer .footer_icon .footer_icon__content .title_red{
    color: red;
}



/* ************Tablet******************** */


@media (min-width: 760px) {

    header nav .top_nav .right_item .search_icon > img{
        width: 2.3rem;
    }
    header nav .top_nav .right_item .use_btn > button{
        padding: 0.8rem;
        font-size: 1.2rem;
    }
    header nav .top_nav .left_location > .loc_title > h1{
        font-size: 2.5rem;
    }   
    header nav .top_nav .left_location > .loc_origin span:first-child{
        font-size: 1.2rem;
    }
    
    header nav .top_nav .left_location > .loc_origin > small{
        font-size: 1rem;
        padding-top: 4px;
    }

    header nav .bottom_nav {
        width: 90%;
        margin: 0 auto;
    }
    header nav .bottom_nav > .nav_highlight {
        display: flex;
        justify-content: space-between;
    }
    header nav .bottom_nav > .nav_highlight > img{
        width: 8rem;
    }
    

    main section.movies_card .card_content .card_item .card_desc > div {
        font-size: 1.3rem;
    }
    main section.movies_card .card_content .card_item .card_title > p {
        font-size: 1.5rem;
    }
    main section.movies_card .card_head > h2, main section.week_event .event_head >h2,main section.category_event .cat_event__head > h2,main section.online_movies .online_head > h2{
        font-size: 2.2rem;
    }
    main section.movies_card .card_head .card_more__icon > span{
        font-size: 1.1rem;
    }
    main section.movies_card .card_head .card_more__icon > small{
        font-size: 0.9rem;
    }
    
    main section.week_event .event_head > p,main section.category_event .cat_event__head > p,main section.online_movies .online_head > p{
        font-size: 1.4rem;
    }


    main section.online_movies .online_content .online_top{
        height: fit-content;
    }   
    main section.online_movies .online_content .online_top .right_movie__desc{
        align-self: center;
    }   
    main section.online_movies .online_content .online_top .right_movie__desc p{
        font-size: 1.4rem;
    }
    main section.online_movies .online_content .online_top .right_movie__desc .movie_title > h3{
        font-size: 2rem;
    }

    main section.online_movies .online_content .online_bottom > button{
        font-size: 1.45rem;
    }
}

@media (min-width: 1020px) {


}